fastapi==0.116.1
uvicorn==0.35.0
streamlit==1.49.1
langchain-core==0.3.75
langchain-google-genai==2.1.10
langgraph==0.6.7
trustcall==0.0.39
langfuse==3.3.4
langchain_core
python-dotenv
requests==2.32.3
ipython==8.37.0
